/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



 .bg_image::before{
  background-position: center center;
  margin-left: 15%;
  width:65%;
  height:110%;
  content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
 }
    
#UserForm{
  position: relative; 
}


#UserForm::before{    
  background-image: url("/public/wordcloud.png") ;
}

    
/* .bg_image::after{
  /* background-image: url("/public/wordcloud.png"); */
  /* opacity: .3; */
 
    

